.header {
    background-color: #00054B;
    word-spacing: 5px;
    color: white;
    font-family: "Jersey 15";
    font-weight: 200;
    font-size: 50px;
    text-align: center;
    position: absolute;
    left: -10px;
    width: 100.7%;
    height: 120px;
    top: -0.5%;
    position: fixed;
}

body {
    background-color: #E1E7FC;
}

a {
    position: relative;
    text-decoration: none;
    color: #E1E7FC;
    top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.img {
    position:absolute;
    scale: 65%;
    top: -13%;
    left: 0%;
}

.neyney {
    position: absolute;
    left:10%;
    top: 30%;
    scale: 135%;
    animation: abertura;
    animation-duration: 6s;
    border-radius: 25px;
    background: url(imagens/neyney.png);
    background-position: left top;
    padding: 5px;
}

.neyney-texto {
    position: absolute;
    right:-170%;
    top: 18%;
    color: rgb(0, 0, 0);
    font-family: "Jersey 15";   
    font-size: 25px;
    font-style: italic;
}

@keyframes abertura {
    0% { opacity: 0; top: 120%; }
    100% { opacity: 1; top: 30%; }
}